---
//Only the main Sass file needs front matter (the dashes are enough)
search: false
---

// main css in /_sass/minimal-mistakes/_pages.scss
.page {
    .page__content {

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        p,
        li,
        dl {
            font-size: 0.9em;
        }
    }
}

// for some reason, screen readers will show up on the page
// so i hide them with this class
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}



@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
