---
//Only the main Sass file needs front matter (the dashes are enough)
search: false
---

// main css in /_sass/minimal-mistakes/_pages.scss
.page {
    .page__content {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        /* 統一文字字級 */
        p,
        li,
        dl {
            font-size: 0.9em;
        }

        /* 保證 li 裡面的段落不會再被縮小一次 */
        li>p {
            font-size: inherit;
            margin: 0; // 讓清單裡的段落不會額外加大間距
        }
    }
}
// for some reason, screen readers will show up on the page
// so i hide them with this class
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.img-bg-white {
    background-color: white;
    padding: 4px;
    border-radius: 4px;
}



@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
